spring:
  application:
    name: notification
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  messages:
    basename: i18n/mail-subjects
    encoding: UTF-8

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    csrf:
      enabled: false
app:
  frontend:
    url: http://localhost:5173