server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: notification
              uri: lb://NOTIFICATION
              predicates:
                - Path=/api/notification/**
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/auth/**