server:
  port: 8085

spring:
  application:
    name: trip-service
  datasource:
    url: jdbc:postgresql://localhost:5434/appdb
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

tripmate:
  keycloak:
    realm: tripmate
    baseUrl: http://localhost:8080

spring.security.oauth2.resourceserver.jwt:
  issuer-uri: ${tripmate.keycloak.baseUrl}/realms/${tripmate.keycloak.realm}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    csrf:
      enabled: false